Repository KonferCA/SPUR-Onboard, pull requests merged in 2024-12, with the labels that each got.

#66 Feat/65/manual trigger preview workflows
  .github/workflows/deploy-preview-backend.yml
  .github/workflows/deploy-preview-frontend.yml
Labels: pipeline

#74 Feat/70/respond with email verified
  backend/.sqlc/migrations/20241203212121_alter_users_add_email_verified.sql
  backend/.sqlc/queries/users.sql
  backend/db/company_questions_answers.sql.go
  backend/db/models.go
  backend/db/users.sql.go
  backend/internal/server/auth.go
  backend/internal/server/auth_test.go
  backend/internal/server/types.go
Labels: enhancement, backend

#69 clean up old code in TextInput
  frontend/src/components/TextInput.tsx
  frontend/src/components/tests/TextInput.test.tsx
Labels: enhancement, frontend

#73 Feat/67/email service
  backend/go.mod
  backend/go.sum
  backend/internal/service/.keep
  backend/internal/service/email.go
Labels: enhancement, backend

#76 Feat/64/add register login api
  backend/.env.example
  backend/common/env_name.go
  backend/db/db.go
  backend/go.mod
  backend/go.sum
  backend/internal/middleware/req_validator.go
  backend/internal/middleware/upload.go
  backend/internal/server/index.go
  backend/internal/server/projects.go
  backend/internal/server/storage.go
  backend/internal/server/types.go
  backend/storage/storage.go
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/SubmitProject.tsx
  frontend/src/services/auth.ts
  frontend/src/services/company.ts
  frontend/src/services/errors.ts
  frontend/src/services/index.ts
  frontend/src/services/project.ts
  frontend/src/services/storage.ts
  frontend/src/types/auth.ts
  frontend/src/types/index.ts
  frontend/src/utils/Router.tsx
  frontend/src/utils/api.ts
  frontend/src/utils/index.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/vite.config.ts
  frontend/vitest.config.ts
Labels: enhancement, frontend

#87 add route to check user email verified status
  backend/internal/server/auth.go
  backend/internal/server/auth_test.go
  backend/internal/server/types.go
Labels: enhancement, backend

#81 Feat/77/send verification email
  backend/.sqlc/migrations/20241205185206_create_verify_email_tokens_table.sql
  backend/.sqlc/queries/verify_email_tokens.sql
  backend/Makefile
  backend/common/env_name.go
  backend/db/models.go
  backend/db/verify_email_tokens.sql.go
  backend/go.mod
  backend/go.sum
  backend/internal/jwt/generate.go
  backend/internal/jwt/jwt_test.go
  backend/internal/jwt/types.go
  backend/internal/jwt/verify.go
  backend/internal/server/auth.go
  backend/internal/service/email.go
  backend/internal/views/verification_email.templ
  backend/internal/views/verification_email_templ.go
  bruno/Register.bru
  bruno/bruno.json
  bruno/environments/Dev.bru
Labels: enhancement, backend

#86 Add route to verify email
  backend/.sqlc/queries/users.sql
  backend/.sqlc/queries/verify_email_tokens.sql
  backend/db/users.sql.go
  backend/db/verify_email_tokens.sql.go
  backend/internal/server/auth.go
  backend/internal/server/auth_test.go
Labels: enhancement, backend

#93 fix wrong timestamp in email token
  backend/internal/server/auth.go
Labels: bug, backend

#97 Fix/96/tsconfig path
  frontend/.gitignore
  frontend/src/components/FormContainer.tsx
  frontend/src/components/NotificationBanner.tsx
  frontend/src/components/TeamMembers.tsx
  frontend/src/components/layout/components/DashboardSkeleton.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/SubmitProject.tsx
  frontend/src/services/project.ts
  frontend/src/services/storage.ts
  frontend/src/utils/Router.tsx
  frontend/tsconfig.app.json
Labels: bug, frontend

#103 Should fix staging/preview deployments
  .github/scripts/deploy-preview-backend.sh
  .github/workflows/deploy-preview-backend.yml
  .github/workflows/deploy-staging-backend.yml
  .github/workflows/deploy-staging-frontend.yml
  backend/Dockerfile
  backend/main.go
Labels: bug, pipeline

#105 New Route to Resend Verification Email
  backend/internal/server/auth.go
  backend/internal/server/types.go
Labels: backend

#107 update frontend test to do build check
  .github/workflows/test-frontend.yml
Labels: bug, enhancement, pipeline

#110 Add polling when component mounts to verify user
  frontend/src/pages/Register.tsx
Labels: bug, frontend

#116 move each render step to its own component
  frontend/src/pages/Register.tsx
Labels: bug

#122 force + check current registration step
  frontend/src/components/layout/RegistrationGuard.tsx
  frontend/src/pages/Register.tsx
  frontend/src/utils/Router.tsx
Labels: bug, frontend

#126 do not throw on company not found on login
  backend/internal/server/company.go
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/Register.tsx
  frontend/src/services/company.ts
Labels: bug, frontend, backend

#131 open register page at '/'
  frontend/src/utils/Router.tsx
Labels: enhancement, frontend

#134 temporary set the first and last name of the user in the frontend
  frontend/src/pages/Register.tsx
Labels: frontend

#138 Fix/137/project null
  frontend/src/config/forms/project.ts
  frontend/src/pages/AdminProjects.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/SubmitProject.tsx
  frontend/src/pages/UserProjects.tsx
  frontend/src/services/project.ts
Labels: bug

#159 add workflows to deploy a dev preview
  .github/workflows/deploy-dev-backend.yml
  .github/workflows/deploy-dev-frontend.yml
Labels: pipeline

#162 Update issue and PR templates
  .github/ISSUE_TEMPLATE/01-epic.md
  .github/ISSUE_TEMPLATE/02-backend-feature.md
  .github/ISSUE_TEMPLATE/03-backend-issue.md
  .github/ISSUE_TEMPLATE/04-frontend-feature.md
  .github/ISSUE_TEMPLATE/05-frontend-issue.md
  .github/ISSUE_TEMPLATE/06-ui-feature.md
  .github/ISSUE_TEMPLATE/07-ui-issue.md
  .github/ISSUE_TEMPLATE/08-ci.md
  .github/ISSUE_TEMPLATE/09-misc.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/pr_template.md
Labels: enhancement, design, frontend, backend

#165 Remove old server
  backend/db/models.go
  backend/internal/middleware/.keep
  backend/internal/middleware/jwt.go
  backend/internal/middleware/logger.go
  backend/internal/middleware/ratelimit.go
  backend/internal/middleware/req_validator.go
  backend/internal/middleware/upload.go
  backend/internal/server/cors.go
  backend/internal/server/index.go
  backend/internal/server/middleware.go
  backend/internal/server/types.go
  backend/main.go
Labels: enhancement, backend, refactor

#167 Rename pr_template.md to pull_request_template.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: bug, misc

#168 Init server
  backend/internal/server/index.go
  backend/internal/server/middleware.go
  backend/internal/server/routes.go
Labels: backend

#169 start server in main
  backend/internal/server/index.go
  backend/main.go
Labels: backend

#179 Move pull_request_template.md
  .github/pull_request_template.md
Labels: misc

#229 Feat/217/v1 commons
  backend/internal/v1/v1_common/helpers.go
  backend/internal/v1/v1_common/helpers_test.go
  backend/internal/v1/v1_common/request.go
  backend/internal/v1/v1_common/response.go
Labels: enhancement, backend

#228 update verification email view
  backend/internal/views/verification_email.templ
  backend/internal/views/verification_email_templ.go
Labels: enhancement, backend

#227 Add JWT Auth Middleware
  backend/.sqlc/queries/users.sql
  backend/db/users.sql.go
  backend/internal/middleware/jwt.go
  backend/internal/middleware/types.go
  backend/internal/server/middleware.go
  backend/internal/tests/jwt_middleware_test.go
Labels: enhancement, backend

#230 CORS middleware
  backend/internal/middleware/cors.go
  backend/internal/middleware/cors_test.go
Labels: enhancement, backend

#232 Global Error Handler
  backend/internal/server/error_handler.go
  backend/internal/server/error_handler_test.go
  backend/internal/server/index.go
  backend/internal/server/types.go
  backend/internal/v1/v1_common/helpers.go
  backend/internal/v1/v1_common/helpers_test.go
  backend/internal/v1/v1_common/response.go
Labels: enhancement, backend

#231 Add Logger middleware
  backend/internal/middleware/logger.go
  backend/internal/server/middleware.go
  backend/internal/tests/logger_test.go
Labels: enhancement, backend

#271 Improve PR template
  .github/pull_request_template.md
Labels: enhancement, misc

#272 Improve issue templates
  .github/ISSUE_TEMPLATE/02-feature.md
  .github/ISSUE_TEMPLATE/03-bug.md
  .github/ISSUE_TEMPLATE/04-backend-feature.md
  .github/ISSUE_TEMPLATE/05-backend-bug.md
  .github/ISSUE_TEMPLATE/06-frontend-feature.md
  .github/ISSUE_TEMPLATE/07-frontend-bug.md
  .github/ISSUE_TEMPLATE/08-ui-feature.md
  .github/ISSUE_TEMPLATE/09-ui-bug.md
  .github/ISSUE_TEMPLATE/10-ci.md
  .github/ISSUE_TEMPLATE/11-misc.md
Labels: misc

#270 Add 'withdrawn' state to project status enum
  backend/.sqlc/migrations/20241215194302_initial_schema.sql
Labels: enhancement, backend

#269 Add file check middleware
  backend/internal/middleware/file_check.go
  backend/internal/middleware/file_check_test.go
Labels: enhancement, backend, middleware

#273 Reorganize checklist to be at the bottom of PR and issue templates
  .github/ISSUE_TEMPLATE/01-epic.md
  .github/ISSUE_TEMPLATE/02-feature.md
  .github/ISSUE_TEMPLATE/03-bug.md
  .github/ISSUE_TEMPLATE/04-backend-feature.md
  .github/ISSUE_TEMPLATE/05-backend-bug.md
  .github/ISSUE_TEMPLATE/06-frontend-feature.md
  .github/ISSUE_TEMPLATE/07-frontend-bug.md
  .github/ISSUE_TEMPLATE/08-ui-feature.md
  .github/ISSUE_TEMPLATE/09-ui-bug.md
  .github/ISSUE_TEMPLATE/10-ci.md
  .github/ISSUE_TEMPLATE/11-misc.md
  .github/pull_request_template.md
Labels: misc

#274 Feat/185/verify email status route
  backend/.sqlc/queries/users.sql
  backend/db/helpers.go
  backend/db/models.go
  backend/db/users.sql.go
  backend/internal/tests/server_test.go
  backend/internal/v1/setup.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/routes.go
  backend/internal/v1/v1_auth/types.go
  backend/internal/v1/v1_common/constants.go
  backend/internal/v1/v1_common/errors.go
  backend/internal/v1/v1_common/helpers.go
  backend/internal/v1/v1_common/helpers_test.go
  backend/internal/v1/v1_common/request.go
  backend/internal/v1/v1_common/response.go
  backend/internal/v1/v1_common/types.go
Labels: enhancement, backend

#276 Verify Email Route
  backend/.sqlc/queries/email_tokens.sql
  backend/.sqlc/queries/users.sql
  backend/db/email_tokens.sql.go
  backend/db/users.sql.go
  backend/internal/tests/helpers.go
  backend/internal/tests/server_test.go
  backend/internal/tests/setup.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/routes.go
  backend/internal/v1/v1_auth/types.go
Labels: enhancement, backend

#275 Create request validator middleware
  .github/workflows/test-backend.yml
  backend/Makefile
  backend/internal/middleware/request_validator.go
  backend/internal/server/middleware.go
  backend/internal/tests/req_validator_test.go
  backend/internal/tests/request_validator_test.go
  backend/internal/tests/setup.go
  backend/internal/v1/v1_health/healthcheck_test.go
Labels: enhancement, backend, middleware

#278 Create rate limiter middleware
  backend/internal/middleware/rate_limit.go
  backend/internal/tests/rate_limit_test.go
Labels: enhancement, backend, middleware

#277 Add login auth endpoint
  backend/.sqlc/queries/users.sql
  backend/db/users.sql.go
  backend/internal/tests/auth_test.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/routes.go
  backend/internal/v1/v1_auth/types.go
Labels: enhancement, backend, api

#287 Update vulnerable net package to patched version
  backend/go.mod
  backend/go.sum
Labels: bug, backend

#282 Basic setup of v1 common utils
  backend/internal/server/error_handler.go
  backend/internal/server/error_handler_test.go
  backend/internal/tests/auth_test.go
  backend/internal/tests/helpers_test.go
  backend/internal/tests/server_test.go
  backend/internal/v1/v1_common/constants.go
  backend/internal/v1/v1_common/errors.go
  backend/internal/v1/v1_common/helpers.go
  backend/internal/v1/v1_common/helpers_test.go
  backend/internal/v1/v1_common/response.go
  backend/internal/v1/v1_common/types.go
Labels: enhancement, backend, api

#280 Add register auth route
  backend/.sqlc/queries/email_tokens.sql
  backend/.sqlc/queries/users.sql
  backend/db/email_tokens.sql.go
  backend/db/users.sql.go
  backend/internal/server/middleware.go
  backend/internal/tests/auth_test.go
  backend/internal/tests/logger_test.go
  backend/internal/tests/server_test.go
  backend/internal/tests/setup.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/cookies.go
  backend/internal/v1/v1_auth/routes.go
  backend/internal/v1/v1_auth/types.go
  bruno/Register.bru
  bruno/Verify Cookie.bru
Labels: enhancement, backend, api

#284 Verify cookie route
  backend/internal/tests/helpers.go
  backend/internal/tests/logger_test.go
  backend/internal/tests/server_test.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/cookies.go
  backend/internal/v1/v1_auth/cookies_test.go
  backend/internal/v1/v1_auth/routes.go
Labels: enhancement, backend, api

#291 add logout route + tests
  backend/internal/tests/server_test.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/cookies.go
  backend/internal/v1/v1_auth/routes.go
Labels: enhancement, backend, api

#293 Change logout route request method from GET to POST
  backend/internal/tests/server_test.go
  backend/internal/v1/v1_auth/routes.go
Labels: bug, backend, api

#295 Update error handling to return APIError
  backend/internal/middleware/file_check.go
  backend/internal/middleware/file_check_test.go
  backend/internal/middleware/jwt.go
  backend/internal/middleware/rate_limit.go
  backend/internal/middleware/request_validator.go
  backend/internal/tests/jwt_middleware_test.go
  backend/internal/tests/jwt_test.go
  backend/internal/tests/rate_limit_test.go
  backend/internal/tests/request_validator_test.go
Labels: backend, refactor

#296 Add Cloudflare IP support to rate limit middleware
  backend/internal/middleware/rate_limit.go
  backend/internal/tests/rate_limit_test.go
Labels: bug, backend, middleware

#283 Create new README
  README.md
  backend/README.md
  frontend/README.md
Labels: documentation, misc

#289 Add team endpoints
  backend/.sqlc/queries/company.sql
  backend/.sqlc/queries/team_members.sql
  backend/db/company.sql.go
  backend/db/team_members.sql.go
  backend/internal/tests/team_test.go
  backend/internal/v1/setup.go
  backend/internal/v1/v1_teams/members.go
  backend/internal/v1/v1_teams/routes.go
  backend/internal/v1/v1_teams/types.go
Labels: enhancement, backend, api

#298 Add post-email verification view
  backend/go.mod
  backend/go.sum
  backend/internal/tests/server_test.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/views/verify_email_page.templ
  backend/internal/views/verify_email_page_templ.go
Labels: enhancement, backend, api

#316 Fix AnchorLinks last link not mark as active if target is at end of page
  frontend/src/components/AnchorLinks.tsx
  frontend/src/components/index.ts
  frontend/src/components/tests/AnchorLinks.test.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/scroll.ts
Labels: bug, frontend

#297 Add project endpoints
  backend/.sqlc/migrations/20241215194302_initial_schema.sql
  backend/.sqlc/migrations/20241226195458_add_default_questions.sql
  backend/.sqlc/queries/projects.sql
  backend/db/models.go
  backend/db/projects.sql.go
  backend/internal/middleware/jwt.go
  backend/internal/tests/helpers.go
  backend/internal/tests/projects_test.go
  backend/internal/tests/server_test.go
  backend/internal/v1/setup.go
  backend/internal/v1/v1_projects/answers.go
  backend/internal/v1/v1_projects/comments.go
  backend/internal/v1/v1_projects/documents.go
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/questions.go
  backend/internal/v1/v1_projects/routes.go
  backend/internal/v1/v1_projects/types.go
  backend/internal/v1/v1_projects/validation.go
  bruno/auth/Register.bru
  bruno/auth/login.bru
  bruno/bruno.json
  bruno/environments/Dev.bru
  bruno/projects/create.bru
  bruno/projects/delete-document.bru
  bruno/projects/get-documents.bru
  bruno/projects/get-project-answers.bru
  bruno/projects/get-project.bru
  bruno/projects/list-projects.bru
  bruno/projects/patch-answer.bru
  bruno/projects/submit_project.bru
  bruno/projects/upload-document.bru
  bruno/test-files/sample.pdf
Labels: enhancement, backend, api

#318 Add useDebounceFn hook
  frontend/src/hooks/index.ts
  frontend/src/hooks/tests/useDebounceFn.test.ts
  frontend/src/hooks/useDebounceFn.ts
Labels: enhancement, frontend, react-hook
