Repository KonferCA/SPUR-Onboard, pull requests merged in 2025-01, with the labels that each got.

#315 Create company endpoints
  backend/.sqlc/queries/companies.sql
  backend/db/companies.sql.go
  backend/internal/tests/company_test.go
  backend/internal/v1/setup.go
  backend/internal/v1/v1_companies/companies.go
  backend/internal/v1/v1_companies/routes.go
  backend/internal/v1/v1_companies/types.go
Labels: enhancement, backend, api

#321 Add comment endpoints
  backend/.sqlc/migrations/20241215194302_initial_schema.sql
  backend/.sqlc/queries/projects.sql
  backend/.sqlc/queries/users.sql
  backend/db/models.go
  backend/db/projects.sql.go
  backend/internal/tests/comments_test.go
  backend/internal/tests/helpers.go
  backend/internal/tests/projects_test.go
  backend/internal/v1/v1_projects/comments.go
  backend/internal/v1/v1_projects/routes.go
  backend/internal/v1/v1_projects/types.go
  bruno/projects/create-project-comment.bru
  bruno/projects/get-project-comment.bru
  bruno/projects/get-project-comments.bru
  bruno/projects/get-project-questions.bru
  bruno/projects/update-project-comment.bru
Labels: enhancement, backend, api

#334 Add CreateTransaction endpoint
  backend/.sqlc/queries/transactions.sql
  backend/db/transactions.sql.go
  backend/internal/tests/transactions_test.go
  backend/internal/v1/setup.go
  backend/internal/v1/v1_transactions/routes.go
  backend/internal/v1/v1_transactions/transactions.go
  backend/internal/v1/v1_transactions/types.go
Labels: enhancement, backend, api

#335 Add project form questions
  backend/.sqlc/migrations/20241215194302_initial_schema.sql
  backend/.sqlc/migrations/20241226195458_add_default_questions.sql
  backend/internal/tests/projects_test.go
Labels: enhancement, backend

#341 Emit json tags for sqlc generated structs
  backend/db/companies.sql.go
  backend/db/email_tokens.sql.go
  backend/db/models.go
  backend/db/projects.sql.go
  backend/db/team_members.sql.go
  backend/db/transactions.sql.go
  backend/db/users.sql.go
  backend/sqlc.yml
Labels: enhancement, backend, api, db

#339 Sectioned layout for project submission & view submitted project
  frontend/src/layouts/types.ts
  frontend/src/pages/index.tsx
  frontend/src/templates/SectionedTemplate/SectionedTemplate.tsx
  frontend/src/templates/index.tsx
Labels: enhancement, frontend

#336 Migrate from role-based to permission-based auth
  backend/.sqlc/migrations/20241215194302_initial_schema.sql
  backend/.sqlc/queries/projects.sql
  backend/.sqlc/queries/transactions.sql
  backend/.sqlc/queries/users.sql
  backend/db/models.go
  backend/db/projects.sql.go
  backend/db/transactions.sql.go
  backend/db/users.sql.go
  backend/internal/jwt/generate.go
  backend/internal/jwt/types.go
  backend/internal/middleware/jwt.go
  backend/internal/middleware/request_validator.go
  backend/internal/middleware/types.go
  backend/internal/permissions/permissions.go
  backend/internal/tests/auth_test.go
  backend/internal/tests/comments_test.go
  backend/internal/tests/company_test.go
  backend/internal/tests/helpers.go
  backend/internal/tests/helpers_test.go
  backend/internal/tests/jwt_middleware_test.go
  backend/internal/tests/jwt_test.go
  backend/internal/tests/projects_test.go
  backend/internal/tests/request_validator_test.go
  backend/internal/tests/server_test.go
  backend/internal/tests/team_test.go
  backend/internal/tests/transactions_test.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/routes.go
  backend/internal/v1/v1_auth/types.go
  backend/internal/v1/v1_common/helpers.go
  backend/internal/v1/v1_companies/companies.go
  backend/internal/v1/v1_companies/routes.go
  backend/internal/v1/v1_projects/comments.go
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/routes.go
  backend/internal/v1/v1_teams/members.go
  backend/internal/v1/v1_teams/routes.go
  backend/internal/v1/v1_transactions/routes.go
  backend/internal/v1/v1_transactions/transactions.go
  backend/internal/v1/v1_transactions/types.go
Labels: backend, refactor, api

#354 Working auth (minus company creation flow)
  backend/internal/middleware/cors.go
  backend/internal/v1/v1_auth/auth.go
  frontend/src/components/AuthForm/AuthForm.tsx
  frontend/src/components/AuthForm/index.ts
  frontend/src/components/ProtecteRoute/ProtectedRoute.tsx
  frontend/src/components/ProtecteRoute/index.tsx
  frontend/src/components/UserDetailsForm/UserDetailsForm.tsx
  frontend/src/components/UserDetailsForm/index.tsx
  frontend/src/components/VerifyEmail/VerifyEmail.tsx
  frontend/src/components/VerifyEmail/index.tsx
  frontend/src/contexts/AuthContext/AuthContext.tsx
  frontend/src/pages/auth.tsx
  frontend/src/services/auth.ts
  frontend/src/services/index.ts
  frontend/src/services/verification.ts
  frontend/src/types/auth.ts
Labels: frontend, backend

#355 fix usage of undefined user role
  backend/internal/v1/v1_auth/auth.go
Labels: bug, backend

#351 Add user account page
  frontend/src/components/wallet/WalletConnectButton.tsx
  frontend/src/constants/settings.tsx
  frontend/src/contexts/AuthContext/AuthContext.tsx
  frontend/src/main.tsx
  frontend/src/pages/user/_auth._appshell.settings.company.tsx
  frontend/src/pages/user/_auth._appshell.settings.profile.tsx
  frontend/src/pages/user/_auth._appshell.settings.tsx
  frontend/src/pages/user/_auth._appshell.settings.wallet.tsx
  frontend/src/pages/user/_auth.tsx
  frontend/src/pages/user/settings.tsx
  frontend/src/pages/user/settings/_layout.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/services/auth.ts
  frontend/src/services/company.ts
  frontend/src/services/index.ts
  frontend/src/services/user.ts
  frontend/src/templates/SettingsPage/SettingsPage.tsx
  frontend/src/types/company.ts
  frontend/src/types/settings.ts
  frontend/src/types/user.ts
Labels: frontend

#360 [FE] Move from Role-Based to Permission-Based Auth
  frontend/src/components/ProtecteRoute/ProtectedRoute.tsx
  frontend/src/pages/admin/_auth.tsx
  frontend/src/pages/auth.tsx
  frontend/src/types/auth.ts
  frontend/src/utils/permissions.ts
Labels: bug, frontend
