Repository KonferCA/SPUR-Onboard, pull requests merged in 2025-03, with the labels that each got.

#608 Fix error prompt in project form page blocked by top navbars
  frontend/src/components/ProjectError/ProjectError.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/form.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/view.tsx
  frontend/src/pages/user/_auth/_appshell/project/new.tsx
  frontend/src/pages/user/_auth/project/$projectId/form.tsx
  frontend/src/pages/user/_auth/project/$projectId/view.tsx
  frontend/src/pages/user/_auth/project/new.tsx
  frontend/src/routeTree.gen.ts
Labels: bug, frontend

#607 Add staging and production deployment workflows
  .github/workflows/deploy-aws-production-backend.yml
  .github/workflows/deploy-aws-production-frontend.yml
  .github/workflows/deploy-aws-staging-backend.yml
  .github/workflows/deploy-aws-staging-frontend.yml
Labels: pipeline

#601 Remove random semicolons from project form and view pages
  frontend/src/pages/__root.tsx
  frontend/src/pages/user/_auth/project/$projectId/form.tsx
  frontend/src/pages/user/_auth/project/$projectId/view.tsx
Labels: bug, frontend

#600 Consolidate project and company name into one
  backend/.sqlc/migrations/20250305042417_update_company_related_questions.sql
  backend/.sqlc/queries/projects.sql
  backend/db/companies.sql.go
  backend/db/company.sql.go
  backend/db/models.go
  backend/db/projects.sql.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_projects/projects.go
  frontend/src/components/ProjectCard/ProjectCard.test.tsx
  frontend/src/components/ProjectCard/ProjectCard.tsx
Labels: bug, frontend, backend, api

#592 404 Page
  frontend/src/assets/404s.svg
  frontend/src/assets/index.ts
  frontend/src/components/NotFound/NotFound.test.tsx
  frontend/src/components/NotFound/NotFound.tsx
  frontend/tailwind.config.js
Labels: enhancement, frontend

#613 Remove v0 landing & redirect to /auth
  frontend/src/pages/index.tsx
Labels: enhancement, frontend

#622 Update registration flow styling + validations
  backend/go.mod
  backend/go.sum
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/routes.go
  backend/internal/views/verification_email.templ
  backend/internal/views/verification_email_templ.go
  backend/internal/views/verify_email_page.templ
  backend/internal/views/verify_email_page_templ.go
  frontend/src/components/AuthForm/AuthForm.test.tsx
  frontend/src/components/AuthForm/AuthForm.tsx
  frontend/src/components/Button/Button.tsx
  frontend/src/components/TextInput/TextInput.tsx
  frontend/src/components/VerifyEmail/VerifyEmail.tsx
  frontend/src/pages/auth.tsx
  frontend/src/services/index.ts
  frontend/src/services/verification.ts
  frontend/tailwind.config.js
Labels: enhancement, frontend, backend, api, dependencies

#621 Properly validate date inputs in project form
  frontend/src/pages/user/_auth/project/$projectId/form.tsx
Labels: bug, frontend

#611 Improve error messages in auth form
  frontend/src/components/AuthForm/AuthForm.tsx
  frontend/src/pages/auth.tsx
Labels: bug

#625 Fix duplicate project creation on browser back button
  frontend/src/pages/user/_auth/project/new.tsx
Labels: bug, frontend

#628 Fix AuthForm.test.tsx to expect more than one error
  frontend/src/components/AuthForm/AuthForm.test.tsx
Labels: bug, frontend

#627 Main -> Staging
  frontend/src/components/AuthForm/AuthForm.test.tsx
  frontend/src/pages/user/_auth/project/new.tsx
Labels: bug, frontend

#634 Allow out-of-order/missing migrations in preview deployment workflow
  .github/workflows/deploy-aws-preview-backend.yml
  .github/workflows/deploy-aws-production-backend.yml
  .github/workflows/deploy-aws-staging-backend.yml
  backend/Makefile
Labels: enhancement, pipeline

#647 Add workflow to enforce successful backend builds
  .github/workflows/enforce-backend-build.yml
Labels: enhancement, pipeline

#646 Push notification on success/error after project submission
  frontend/src/pages/user/_auth/project/$projectId/form.tsx
Labels: bug, frontend

#645 create get new project endpoint
  backend/.sqlc/queries/projects.sql
  backend/db/projects.sql.go
  backend/go.mod
  backend/go.sum
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/routes.go
  backend/internal/v1/v1_projects/types.go
Labels: enhancement, backend, api, db

#635 specify spuric as hostname
  backend/internal/middleware/cors.go
Labels: enhancement, backend

#570 Add team member modal, redesign add button, fix backend tests, fix FE tests
  backend/.sqlc/migrations/20250226000000_add_team_member_socials.sql
  backend/.sqlc/migrations/20250301000000_add_insert_question_function.sql
  backend/.sqlc/queries/team_members.sql
  backend/db/models.go
  backend/db/team_members.sql.go
  backend/go.mod
  backend/go.sum
  backend/internal/middleware/cors_test.go
  backend/internal/tests/auth_test.go
  backend/internal/tests/company_test.go
  backend/internal/tests/projects_test.go
  backend/internal/tests/server_test.go
  backend/internal/tests/team_test.go
  backend/internal/v1/v1_auth/cookies_test.go
  backend/internal/v1/v1_common/helpers.go
  backend/internal/v1/v1_common/social_links.go
  backend/internal/v1/v1_companies/companies.go
  backend/internal/v1/v1_companies/routes.go
  backend/internal/v1/v1_projects/answers.go
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/questions.go
  backend/internal/v1/v1_projects/routes.go
  backend/internal/v1/v1_projects/validation.go
  backend/internal/v1/v1_teams/members.go
  backend/internal/v1/v1_teams/types.go
  backend/internal/v1/v1_users/types.go
  backend/internal/v1/v1_users/users.go
  backend/internal/views/verify_email_page_templ.go
  frontend/src/components/ConfirmationModal/ConfirmationModal.test.tsx
  frontend/src/components/ConfirmationModal/ConfirmationModal.tsx
  frontend/src/components/SocialCard/SocialCard.test.tsx
  frontend/src/components/SocialCard/SocialCard.tsx
  frontend/src/components/SocialLinks/SocialLinks.tsx
  frontend/src/components/TeamMembers/TeamMemberModal.tsx
  frontend/src/components/TeamMembers/TeamMembers.tsx
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.overview.tsx
  frontend/src/services/teams.ts
  frontend/src/types/form.ts
  frontend/src/utils/form-validation.ts
  frontend/src/utils/social-links.ts
Labels: enhancement, frontend, backend

#660 Fix project not being listed in user dashboard
  backend/.sqlc/queries/projects.sql
  backend/db/projects.sql.go
  backend/internal/tests/projects_test.go
  backend/internal/v1/v1_projects/projects.go
  frontend/src/pages/admin/_auth/_appshell/dashboard.tsx
  frontend/src/pages/user/_auth/_appshell/projects.tsx
  frontend/src/services/project.ts
Labels: bug, backend

#661 Update test workflows to always run which allow enforcing them before merge
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
Labels: enhancement, frontend, backend

#662 Deploy PR previews
  .github/workflows/deploy-pr-preview.yml
  .gitignore
  backend/.sqlc/seeds/pr-preview-seed-data.sql
Labels: enhancement, pipeline, backend

#649 Enforce backend code formatted
  .github/workflows/enforce-backend-code-formatting.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  README.md
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/internal/jwt/types.go
  backend/internal/middleware/file_check_test.go
  backend/internal/middleware/logger.go
  backend/internal/middleware/rate_limit.go
  backend/internal/middleware/request_id.go
  backend/internal/middleware/types.go
  backend/internal/permissions/permissions.go
  backend/internal/tests/comments_test.go
  backend/internal/tests/helpers.go
  backend/internal/tests/helpers_test.go
  backend/internal/tests/jwt_middleware_test.go
  backend/internal/tests/logger_test.go
  backend/internal/tests/rate_limit_test.go
  backend/internal/tests/request_validator_test.go
  backend/internal/tests/transactions_test.go
  backend/internal/v1/v1_projects/comments.go
  backend/internal/v1/v1_projects/questions.go
  backend/internal/v1/v1_projects/routes.go
  backend/internal/v1/v1_teams/routes.go
  backend/internal/v1/v1_teams/types.go
  backend/internal/v1/v1_transactions/routes.go
  backend/internal/v1/v1_transactions/transactions.go
  backend/internal/v1/v1_transactions/types.go
  backend/internal/v1/v1_users/routes.go
  backend/internal/v1/v1_users/types.go
  backend/internal/views/verification_email_templ.go
  backend/internal/views/verify_email_page_templ.go
  backend/main.go
  backend/scripts/format.sh
  backend/scripts/generate_password_hash.go
  backend/storage/storage.go
Labels: enhancement, pipeline, backend

#665 Update README.md
  README.md
Labels: docs, misc

#588 Add funding structure question type and modal
  backend/.sqlc/migrations/20250422000000_add_funding_structure_question.sql
  frontend/src/components/FundingStructure/index.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/components/ReviewQuestions/ReviewQuestions.tsx
  frontend/src/components/tests/EquityProgressBar.test.tsx
  frontend/src/components/tests/FundingStructure.test.tsx
  frontend/src/config/forms/project.ts
  frontend/src/types/form.ts
Labels: enhancement, frontend, backend

#589 Responsive Project Creation Page
  frontend/components.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/AnchorLinks/AnchorLinks.styles.ts
  frontend/src/components/AnchorLinks/AnchorLinks.test.tsx
  frontend/src/components/AnchorLinks/AnchorLinks.tsx
  frontend/src/components/AutoSaveIndicator/AutoSaveIndicator.test.tsx
  frontend/src/components/AutoSaveIndicator/AutoSaveIndicator.tsx
  frontend/src/components/AutoSaveIndicator/index.tsx
  frontend/src/components/Dropdown/Dropdown.tsx
  frontend/src/components/ProjectError/ProjectError.tsx
  frontend/src/components/ScrollLink/ScrollLink.tsx
  frontend/src/components/SectionDrawer/SectionDrawer.test.tsx
  frontend/src/components/SectionDrawer/SectionDrawer.tsx
  frontend/src/components/SectionDrawer/SectionDrawer.types.ts
  frontend/src/components/SectionDrawer/index.tsx
  frontend/src/components/index.ts
  frontend/src/components/ui/drawer.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/config/forms/project.ts
  frontend/src/hooks/useProjectForm.ts
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/src/pages/user/_auth/project/$projectId/form.tsx
  frontend/src/templates/SectionedTemplate/SectionedTemplate.tsx
  frontend/src/types/form.ts
  frontend/src/utils/scroll.test.ts
  frontend/src/utils/scroll.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
Labels: enhancement, frontend

#671 Update PR and Issue templates
  .github/ISSUE_TEMPLATE/00-task.md
  .github/ISSUE_TEMPLATE/01-epic.md
  .github/ISSUE_TEMPLATE/02-feature.md
  .github/ISSUE_TEMPLATE/03-bug.md
  .github/ISSUE_TEMPLATE/04-backend-feature.md
  .github/ISSUE_TEMPLATE/05-backend-bug.md
  .github/ISSUE_TEMPLATE/06-frontend-feature.md
  .github/ISSUE_TEMPLATE/07-frontend-bug.md
  .github/ISSUE_TEMPLATE/08-ui-feature.md
  .github/ISSUE_TEMPLATE/09-ui-bug.md
  .github/ISSUE_TEMPLATE/10-ci.md
  .github/ISSUE_TEMPLATE/11-misc.md
  .github/pull_request_template.md
Labels: pipeline

#630 Add blinking erroneous question functionality
  frontend/src/components/ProjectError/ProjectError.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/components/RecommendedFields/RecommendedFields.tsx
  frontend/src/components/SectionDrawer/SectionDrawer.tsx
  frontend/src/components/SectionDrawer/SectionDrawer.types.ts
  frontend/src/pages/user/_auth/project/$projectId/form.tsx
  frontend/tailwind.config.js
Labels: enhancement, frontend

#676 Main -> Staging: Blink on navigate to question feature
  frontend/src/components/ProjectError/ProjectError.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/components/RecommendedFields/RecommendedFields.tsx
  frontend/src/components/SectionDrawer/SectionDrawer.tsx
  frontend/src/components/SectionDrawer/SectionDrawer.types.ts
  frontend/src/pages/user/_auth/project/$projectId/form.tsx
  frontend/tailwind.config.js
Labels: enhancement, frontend

#690 Add scroll button to project form
  frontend/src/components/ScrollButton/ScrollButton.test.tsx
  frontend/src/components/ScrollButton/ScrollButton.tsx
  frontend/src/components/ScrollButton/index.ts
  frontend/src/components/index.ts
  frontend/src/pages/user/_auth/project/$projectId/form.tsx
Labels: enhancement, frontend

#696 Update CORS configuration for production - make updating CORS more flexible in production
  .github/workflows/deploy-aws-production-backend.yml
  backend/.env.example
  backend/internal/middleware/cors.go
  backend/internal/middleware/cors_test.go
Labels: bug, backend, URGENT

#698 M3: Scroll button + CORS updates in production
  .github/workflows/deploy-aws-production-backend.yml
  backend/.env.example
  backend/internal/middleware/cors.go
  backend/internal/middleware/cors_test.go
  frontend/src/components/ScrollButton/ScrollButton.test.tsx
  frontend/src/components/ScrollButton/ScrollButton.tsx
  frontend/src/components/ScrollButton/index.ts
  frontend/src/components/index.ts
  frontend/src/pages/user/_auth/project/$projectId/form.tsx
Labels: enhancement, frontend, backend

#699 Production: add scroll button + CORS updates
  .github/workflows/deploy-aws-production-backend.yml
  backend/.env.example
  backend/internal/middleware/cors.go
  backend/internal/middleware/cors_test.go
  frontend/src/components/ScrollButton/ScrollButton.test.tsx
  frontend/src/components/ScrollButton/ScrollButton.tsx
  frontend/src/components/ScrollButton/index.ts
  frontend/src/components/index.ts
  frontend/src/pages/user/_auth/project/$projectId/form.tsx
Labels: enhancement, frontend, backend

#697 Fix auth form validations
  backend/internal/middleware/request_validator.go
  backend/internal/tests/auth_test.go
  backend/internal/tests/company_test.go
  backend/internal/tests/helpers.go
  backend/internal/tests/server_test.go
  backend/internal/tests/team_test.go
  backend/internal/tests/transactions_test.go
  backend/internal/v1/v1_auth/types.go
  frontend/src/components/AuthForm/AuthForm.test.tsx
  frontend/src/components/AuthForm/AuthForm.tsx
Labels: bug, frontend, backend

#718 Snapshots for project submissions
  backend/.sqlc/migrations/20250422000001_create_project_snapshots_table.sql
  backend/.sqlc/migrations/20250422000004_update_existing_projects_table_title.sql
  backend/.sqlc/migrations/20250422000005_create_project_snapshots_for_existing_projects.sql
  backend/.sqlc/migrations/20250422000006_update_insert_question_with_input_types_fn.sql
  backend/.sqlc/queries/project_snapshots.sql
  backend/.sqlc/queries/projects.sql
  backend/db/models.go
  backend/db/project_snapshots.sql.go
  backend/db/projects.sql.go
  backend/internal/service/project.go
  backend/internal/tests/projects_test.go
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/routes.go
  frontend/src/pages/admin/_auth/projects/$projectId.review.tsx
  frontend/src/pages/user/_auth/project/$projectId/view.tsx
  frontend/src/services/project.ts
  frontend/src/types/projects.ts
Labels: enhancement, backend

#725 Add edit comment functionality to deploy-pr-preview
  .github/workflows/deploy-pr-preview.yml
Labels: bug, pipeline

#719 Improve FundingStructure ui, state, & validation
  frontend/src/components/FundingStructure/index.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/components/tests/FundingStructure.test.tsx
  frontend/src/pages/user/_auth/project/$projectId/form.tsx
Labels: bug, enhancement, frontend, backend

#714 Add resolve comment button to comment card
  backend/internal/tests/projects_test.go
  backend/internal/v1/v1_projects/comments.go
  backend/internal/v1/v1_projects/routes.go
  frontend/src/components/CommentBubble/CommentBubble.test.tsx
  frontend/src/components/CommentBubble/CommentBubble.tsx
  frontend/src/services/comment.ts
Labels: enhancement, frontend, backend

#723 Redesign auth page to look prettier
  frontend/src/assets/auth/blob1.svg
  frontend/src/assets/auth/blob2.svg
  frontend/src/assets/auth/blob3.svg
  frontend/src/assets/auth/blob4.svg
  frontend/src/assets/auth/mapbase.svg
  frontend/src/assets/index.ts
  frontend/src/components/AuthForm/AuthForm.test.tsx
  frontend/src/components/AuthForm/AuthForm.tsx
  frontend/src/components/AuthPage/AuthPage.tsx
  frontend/src/components/AuthPage/index.ts
  frontend/src/components/index.ts
  frontend/src/pages/auth.tsx
  frontend/tailwind.config.js
Labels: enhancement, frontend
