Repository KonferCA/SPUR-Onboard, pull requests merged in 2025-04, with the labels that each got.

#733 Add onboarding home page
  frontend/src/assets/home/main/browse_and_invest.svg
  frontend/src/assets/home/main/create_project.svg
  frontend/src/assets/home/main/freelance_application.svg
  frontend/src/assets/home/main/hackathon_claim.svg
  frontend/src/assets/home/main/pitch_comp_claim.svg
  frontend/src/assets/home/side/grow.svg
  frontend/src/assets/home/side/laptop_guy.svg
  frontend/src/assets/home/side/pencil.svg
  frontend/src/assets/home/side/podium.svg
  frontend/src/assets/home/side/trophy.svg
  frontend/src/assets/home/side_hovered/grow.svg
  frontend/src/assets/home/side_hovered/laptop_guy.svg
  frontend/src/assets/home/side_hovered/pencil.svg
  frontend/src/assets/home/side_hovered/podium.svg
  frontend/src/assets/home/side_hovered/trophy.svg
  frontend/src/pages/auth.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/user/_auth/_appshell/home.tsx
  frontend/src/routeTree.gen.ts
Labels: enhancement, frontend

#680 Unify sidebar across platform
  frontend/src/components/AutoSaveIndicator/AutoSaveIndicator.tsx
  frontend/src/components/FileDownload/FileDownload.tsx
  frontend/src/components/FileUpload/FileUpload.tsx
  frontend/src/components/ProjectCard/ProjectCard.test.tsx
  frontend/src/components/ProjectCard/ProjectCard.tsx
  frontend/src/components/ProjectError/ProjectError.test.tsx
  frontend/src/components/ProjectError/ProjectError.tsx
  frontend/src/components/ProjectError/index.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/components/ReviewQuestions/ReviewQuestions.tsx
  frontend/src/components/SectionDrawer/SectionDrawer.types.ts
  frontend/src/components/Sidebar/Sidebar.test.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/Sidebar/index.tsx
  frontend/src/components/tables/ProjectsTable.tsx
  frontend/src/config/forms/index.ts
  frontend/src/config/forms/project.ts
  frontend/src/config/index.ts
  frontend/src/config/routes.ts
  frontend/src/contexts/SidebarContext/SidebarContext.tsx
  frontend/src/layouts/AppLayout.tsx
  frontend/src/pages/__root.tsx
  frontend/src/pages/admin/_auth/_appshell.tsx
  frontend/src/pages/admin/_auth/_appshell/dashboard.tsx
  frontend/src/pages/admin/_auth/projects/$projectId.review.tsx
  frontend/src/pages/user/_auth/_appshell.tsx
  frontend/src/pages/user/_auth/_appshell/dashboard.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/form.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/view.tsx
  frontend/src/pages/user/_auth/_appshell/project/new.tsx
  frontend/src/pages/user/_auth/project/$projectId/view.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/services/project.ts
  frontend/src/services/projects.ts
  frontend/src/templates/DashboardTemplate/DashboardTemplate.tsx
  frontend/src/types/project.ts
  frontend/src/types/sidebar.ts
  frontend/tailwind.config.js
Labels: bug, enhancement, frontend, refactor

#721 Snapshots for project submissions
  backend/.sqlc/migrations/20250422000001_create_project_snapshots_table.sql
  backend/.sqlc/migrations/20250422000002_add_snapshot_id_to_projects.sql
  backend/.sqlc/migrations/20250422000003_add_initial_submission_to_projects.sql
  backend/.sqlc/migrations/20250422000004_update_existing_projects_table_title.sql
  backend/.sqlc/migrations/20250422000005_create_project_snapshots_for_existing_projects.sql
  backend/.sqlc/migrations/20250422000006_update_insert_question_with_input_types_fn.sql
  backend/.sqlc/queries/project_snapshots.sql
  backend/.sqlc/queries/projects.sql
  backend/db/models.go
  backend/db/project_snapshots.sql.go
  backend/db/projects.sql.go
  backend/internal/service/project.go
  backend/internal/tests/projects_test.go
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/routes.go
  frontend/src/pages/admin/_auth/projects/$projectId.review.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/view.tsx
  frontend/src/services/project.ts
  frontend/src/types/projects.ts
Labels: enhancement, frontend, backend

#738 Fix: snapshot migration creates snapshots for all project records
  backend/.sqlc/migrations/20250422000005_create_project_snapshots_for_existing_projects.sql
Labels: bug, db

#728 Implement project editing and comment resolution workflow
  backend/.sqlc/migrations/20250422000007_add_allow_edit_flag_to_projects_table.sql
  backend/.sqlc/migrations/20250422000008_update_project_status_enum.sql
  backend/.sqlc/migrations/20250422000009_add_snapshot_id_to_comments.sql
  backend/.sqlc/queries/project_snapshots.sql
  backend/.sqlc/queries/projects.sql
  backend/db/models.go
  backend/db/project_snapshots.sql.go
  backend/db/projects.sql.go
  backend/internal/service/project.go
  backend/internal/tests/comments_test.go
  backend/internal/tests/project_draft_test.go
  backend/internal/tests/projects_test.go
  backend/internal/v1/v1_projects/answers.go
  backend/internal/v1/v1_projects/comments.go
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/types.go
  backend/internal/v1/v1_projects/validation.go
  frontend/src/components/Badge/Badge.test.tsx
  frontend/src/components/Badge/Badge.tsx
  frontend/src/components/CommentBubble/CommentBubble.test.tsx
  frontend/src/components/CommentBubble/CommentBubble.tsx
  frontend/src/components/Comments/Comments.test.tsx
  frontend/src/components/Comments/Comments.tsx
  frontend/src/components/Comments/index.tsx
  frontend/src/components/Dropdown/Dropdown.tsx
  frontend/src/components/FileUpload/FileUpload.tsx
  frontend/src/components/FundingStructure/index.tsx
  frontend/src/components/ProjectCard/ProjectCard.test.tsx
  frontend/src/components/ProjectCard/ProjectCard.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/components/ReviewQuestions/ReviewQuestions.tsx
  frontend/src/components/TextArea/TextArea.tsx
  frontend/src/components/index.ts
  frontend/src/components/tables/ProjectsTable.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/form.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/view.tsx
  frontend/src/services/comment.ts
  frontend/src/services/project.ts
  frontend/src/services/projects.ts
  frontend/src/test/pages/user.project.form.test.tsx
  frontend/src/test/pages/user.project.view.test.tsx
  frontend/src/types/project.ts
Labels: enhancement, frontend, backend

#740 Main -> Staging: v1.3.0 edit project submissions
  backend/.sqlc/migrations/20250422000007_add_allow_edit_flag_to_projects_table.sql
  backend/.sqlc/migrations/20250422000008_update_project_status_enum.sql
  backend/.sqlc/migrations/20250422000009_add_snapshot_id_to_comments.sql
  backend/.sqlc/queries/project_snapshots.sql
  backend/.sqlc/queries/projects.sql
  backend/db/models.go
  backend/db/project_snapshots.sql.go
  backend/db/projects.sql.go
  backend/internal/service/project.go
  backend/internal/tests/comments_test.go
  backend/internal/tests/project_draft_test.go
  backend/internal/tests/projects_test.go
  backend/internal/v1/v1_projects/answers.go
  backend/internal/v1/v1_projects/comments.go
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/types.go
  backend/internal/v1/v1_projects/validation.go
  frontend/src/components/Badge/Badge.test.tsx
  frontend/src/components/Badge/Badge.tsx
  frontend/src/components/CommentBubble/CommentBubble.test.tsx
  frontend/src/components/CommentBubble/CommentBubble.tsx
  frontend/src/components/Comments/Comments.test.tsx
  frontend/src/components/Comments/Comments.tsx
  frontend/src/components/Comments/index.tsx
  frontend/src/components/Dropdown/Dropdown.tsx
  frontend/src/components/FileUpload/FileUpload.tsx
  frontend/src/components/FundingStructure/index.tsx
  frontend/src/components/ProjectCard/ProjectCard.test.tsx
  frontend/src/components/ProjectCard/ProjectCard.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/components/ReviewQuestions/ReviewQuestions.tsx
  frontend/src/components/TextArea/TextArea.tsx
  frontend/src/components/index.ts
  frontend/src/components/tables/ProjectsTable.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/form.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/view.tsx
  frontend/src/services/comment.ts
  frontend/src/services/project.ts
  frontend/src/services/projects.ts
  frontend/src/test/pages/user.project.form.test.tsx
  frontend/src/test/pages/user.project.view.test.tsx
  frontend/src/types/project.ts
Labels: release

#751 Unified and cleaned up styling for existing pages
  frontend/src/assets/index.ts
  frontend/src/components/Sidebar/Sidebar.test.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/config/routes.ts
  frontend/src/pages/admin/_auth/_appshell/settings/permissions.tsx
  frontend/src/pages/user/_auth/_appshell/home.tsx
  frontend/src/pages/user/_auth/_appshell/settings.tsx
  frontend/src/pages/user/_auth/_appshell/settings/profile.tsx
  frontend/src/pages/user/_auth/_appshell/settings/wallet.tsx
  frontend/src/templates/SettingsPage/SettingsPage.tsx
Labels: bug, frontend

#754 Move yucky browse projects page (wip)
  frontend/src/components/Sidebar/Sidebar.test.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/tables/ProjectsTable.tsx
  frontend/src/config/routes.ts
  frontend/src/pages/user/_auth/_appshell/browse.tsx
  frontend/src/routeTree.gen.ts
Labels: bug, frontend

#752 Add reset password functionality
  backend/.sqlc/migrations/20250422000019_add_password_reset_tokens.sql
  backend/.sqlc/queries/password_reset.sql
  backend/.sqlc/queries/password_reset_tokens.sql
  backend/db/models.go
  backend/db/password_reset.sql.go
  backend/db/password_reset_tokens.sql.go
  backend/internal/jwt/generate.go
  backend/internal/jwt/types.go
  backend/internal/jwt/verify.go
  backend/internal/service/email.go
  backend/internal/tests/helpers.go
  backend/internal/tests/server_test.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/routes.go
  backend/internal/v1/v1_auth/types.go
  backend/internal/views/reset_password_email.templ
  backend/internal/views/reset_password_email_templ.go
  backend/internal/views/verification_email_templ.go
  backend/internal/views/verify_email_page_templ.go
  frontend/src/components/AuthForm/AuthForm.tsx
  frontend/src/components/ForgotPassword/ForgotPassword.tsx
  frontend/src/components/ForgotPassword/index.ts
  frontend/src/components/ResetPassword/ResetPassword.tsx
  frontend/src/components/ResetPassword/index.ts
  frontend/src/pages/auth.tsx
  frontend/src/pages/forgot-password.tsx
  frontend/src/pages/reset-password.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/services/auth.ts
  frontend/src/types/auth.ts
Labels: enhancement, frontend, backend

#755 Main -> Staging v1.3.4
  backend/.sqlc/migrations/20250422000019_add_password_reset_tokens.sql
  backend/.sqlc/queries/password_reset.sql
  backend/.sqlc/queries/password_reset_tokens.sql
  backend/db/models.go
  backend/db/password_reset.sql.go
  backend/db/password_reset_tokens.sql.go
  backend/internal/jwt/generate.go
  backend/internal/jwt/types.go
  backend/internal/jwt/verify.go
  backend/internal/service/email.go
  backend/internal/tests/helpers.go
  backend/internal/tests/server_test.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/routes.go
  backend/internal/v1/v1_auth/types.go
  backend/internal/views/reset_password_email.templ
  backend/internal/views/reset_password_email_templ.go
  backend/internal/views/verification_email_templ.go
  backend/internal/views/verify_email_page_templ.go
  frontend/src/assets/index.ts
  frontend/src/components/AuthForm/AuthForm.tsx
  frontend/src/components/ForgotPassword/ForgotPassword.tsx
  frontend/src/components/ForgotPassword/index.ts
  frontend/src/components/ResetPassword/ResetPassword.tsx
  frontend/src/components/ResetPassword/index.ts
  frontend/src/components/Sidebar/Sidebar.test.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/tables/ProjectsTable.tsx
  frontend/src/config/routes.ts
  frontend/src/pages/admin/_auth/_appshell/settings/permissions.tsx
  frontend/src/pages/auth.tsx
  frontend/src/pages/forgot-password.tsx
  frontend/src/pages/reset-password.tsx
  frontend/src/pages/user/_auth/_appshell/browse.tsx
  frontend/src/pages/user/_auth/_appshell/home.tsx
  frontend/src/pages/user/_auth/_appshell/settings.tsx
  frontend/src/pages/user/_auth/_appshell/settings/profile.tsx
  frontend/src/pages/user/_auth/_appshell/settings/wallet.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/services/auth.ts
  frontend/src/templates/SettingsPage/SettingsPage.tsx
  frontend/src/types/auth.ts
Labels: release

#757 Update favicon and page titles
  frontend/index.html
  frontend/public/logo.svg
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.decision.tsx
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.overview.tsx
  frontend/src/pages/admin/_auth/_appshell/resources/index.tsx
  frontend/src/pages/admin/_auth/_appshell/settings/permissions.tsx
  frontend/src/pages/admin/_auth/projects/$projectId.review.tsx
  frontend/src/pages/auth.tsx
  frontend/src/pages/user/_auth/_appshell/browse.tsx
  frontend/src/pages/user/_auth/_appshell/dashboard.tsx
  frontend/src/pages/user/_auth/_appshell/home.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/form.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/view.tsx
  frontend/src/pages/user/_auth/_appshell/settings.tsx
  frontend/src/pages/user/_auth/_appshell/settings/profile.tsx
  frontend/src/pages/user/_auth/_appshell/settings/wallet.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/usePageTitle.ts
Labels: enhancement, frontend

#759 Fix random page refrehses (hopefully)
  frontend/src/components/CommentBubble/CommentBubble.test.tsx
  frontend/src/components/CommentBubble/CommentBubble.tsx
  frontend/src/components/ProfilePictureUpload/ProfilePictureUpload.tsx
  frontend/src/components/ProjectCard/ProjectCard.tsx
  frontend/src/components/Sidebar/Sidebar.test.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/TeamMembers/TeamMembers.tsx
  frontend/src/components/VerifyEmail/VerifyEmail.tsx
  frontend/src/contexts/AuthContext/AuthContext.tsx
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.decision.tsx
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.overview.tsx
  frontend/src/pages/admin/_auth/_appshell/settings/permissions.tsx
  frontend/src/pages/user/_auth/_appshell/browse.tsx
  frontend/src/pages/user/_auth/_appshell/dashboard.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/form.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/view.tsx
  frontend/src/pages/user/_auth/_appshell/project/new.tsx
  frontend/src/pages/user/_auth/_appshell/settings/profile.tsx
  frontend/src/pages/user/_auth/_appshell/settings/wallet.tsx
Labels: bug, frontend

#758 Deploy favicon and page titles update to staging (part of 1.3.4)
  frontend/index.html
  frontend/public/logo.svg
  frontend/src/components/CommentBubble/CommentBubble.test.tsx
  frontend/src/components/CommentBubble/CommentBubble.tsx
  frontend/src/components/ProfilePictureUpload/ProfilePictureUpload.tsx
  frontend/src/components/ProjectCard/ProjectCard.tsx
  frontend/src/components/Sidebar/Sidebar.test.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/TeamMembers/TeamMembers.tsx
  frontend/src/components/VerifyEmail/VerifyEmail.tsx
  frontend/src/contexts/AuthContext/AuthContext.tsx
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.decision.tsx
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.overview.tsx
  frontend/src/pages/admin/_auth/_appshell/resources/index.tsx
  frontend/src/pages/admin/_auth/_appshell/settings/permissions.tsx
  frontend/src/pages/admin/_auth/projects/$projectId.review.tsx
  frontend/src/pages/auth.tsx
  frontend/src/pages/user/_auth/_appshell/browse.tsx
  frontend/src/pages/user/_auth/_appshell/dashboard.tsx
  frontend/src/pages/user/_auth/_appshell/home.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/form.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/view.tsx
  frontend/src/pages/user/_auth/_appshell/project/new.tsx
  frontend/src/pages/user/_auth/_appshell/settings.tsx
  frontend/src/pages/user/_auth/_appshell/settings/profile.tsx
  frontend/src/pages/user/_auth/_appshell/settings/wallet.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/usePageTitle.ts
Labels: enhancement, frontend, release

#761 Add branch-merge sequence to readme
  README.md
Labels: docs

#762 Update tsconfig.app.json
  frontend/tsconfig.app.json
Labels: misc

#760 Navigate to correct section via Error Component
  frontend/src/components/ProjectError/ProjectError.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/form.tsx
Labels: bug, frontend

#765 Deploy favicon, page titles, and random refresh fix to production (1.3.4)
  frontend/index.html
  frontend/public/logo.svg
  frontend/src/components/CommentBubble/CommentBubble.test.tsx
  frontend/src/components/CommentBubble/CommentBubble.tsx
  frontend/src/components/ProfilePictureUpload/ProfilePictureUpload.tsx
  frontend/src/components/ProjectCard/ProjectCard.tsx
  frontend/src/components/Sidebar/Sidebar.test.tsx
  frontend/src/components/Sidebar/Sidebar.tsx
  frontend/src/components/TeamMembers/TeamMembers.tsx
  frontend/src/components/VerifyEmail/VerifyEmail.tsx
  frontend/src/contexts/AuthContext/AuthContext.tsx
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.decision.tsx
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.overview.tsx
  frontend/src/pages/admin/_auth/_appshell/resources/index.tsx
  frontend/src/pages/admin/_auth/_appshell/settings/permissions.tsx
  frontend/src/pages/admin/_auth/projects/$projectId.review.tsx
  frontend/src/pages/auth.tsx
  frontend/src/pages/user/_auth/_appshell/browse.tsx
  frontend/src/pages/user/_auth/_appshell/dashboard.tsx
  frontend/src/pages/user/_auth/_appshell/home.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/form.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/view.tsx
  frontend/src/pages/user/_auth/_appshell/project/new.tsx
  frontend/src/pages/user/_auth/_appshell/settings.tsx
  frontend/src/pages/user/_auth/_appshell/settings/profile.tsx
  frontend/src/pages/user/_auth/_appshell/settings/wallet.tsx
  frontend/src/utils/index.ts
  frontend/src/utils/usePageTitle.ts
Labels: release

#766 Add stricter funding structure validation to FE & BE
  backend/db/types.go
  backend/internal/permissions/permissions.go
  backend/internal/v1/v1_projects/validation.go
  backend/internal/v1/v1_projects/validation_test.go
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/pages/user/_auth/_appshell/project/$projectId/form.tsx
  frontend/src/utils/form-validation.test.ts
  frontend/src/utils/form-validation.ts
Labels: enhancement, frontend, backend
