Repository KonferCA/SPUR-Onboard, pull requests merged in 2025-02, with the labels that each got.

#364 move auto save team members to TeamMembers component
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/components/TeamMembers/TeamMembers.tsx
  frontend/src/pages/user/_auth/project/new.tsx
  frontend/src/services/teams.ts
Labels: enhancement, frontend

#367 Refactor file upload autosave to component level
  frontend/src/components/FileUpload/FileUpload.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/pages/user/_auth/project/new.tsx
Labels: frontend

#362 Add landing page
  frontend/src/pages/index.tsx
Labels: enhancement, frontend

#368 Feat/349/form submission and validation
  backend/internal/v1/v1_projects/answers.go
  backend/internal/v1/v1_projects/projects.go
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/config/forms/project.ts
  frontend/src/pages/user/_auth/project/new.tsx
  frontend/src/services/project.ts
  frontend/src/types/form.ts
  frontend/src/utils/form-validation.ts
  frontend/src/utils/sampleData.ts
Labels: enhancement, frontend, backend, api

#370 Remove fetch with auth
  backend/.sqlc/migrations/20241215194302_initial_schema.sql
  backend/.sqlc/queries/companies.sql
  backend/.sqlc/queries/users.sql
  backend/db/companies.sql.go
  backend/db/company.sql.go
  backend/db/models.go
  backend/db/users.sql.go
  backend/internal/middleware/jwt.go
  backend/internal/service/email.go
  backend/internal/v1/setup.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/cookies.go
  backend/internal/v1/v1_auth/routes.go
  backend/internal/v1/v1_auth/types.go
  backend/internal/v1/v1_companies/companies.go
  backend/internal/v1/v1_companies/types.go
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_teams/members.go
  backend/internal/v1/v1_transactions/transactions.go
  backend/internal/v1/v1_users/routes.go
  backend/internal/v1/v1_users/types.go
  backend/internal/v1/v1_users/users.go
  frontend/src/components/CompanyForm/CompanyForm.tsx
  frontend/src/components/CompanyForm/index.tsx
  frontend/src/components/DateInput/DateInput.tsx
  frontend/src/components/Dropdown/Dropdown.tsx
  frontend/src/components/ProgressSteps/ProgressSteps.tsx
  frontend/src/components/ProgressSteps/index.tsx
  frontend/src/components/ProtecteRoute/ProtectedRoute.tsx
  frontend/src/components/UserDetailsForm/UserDetailsForm.tsx
  frontend/src/components/UserDetailsForm/index.tsx
  frontend/src/components/VerifyEmail/VerifyEmail.tsx
  frontend/src/components/index.ts
  frontend/src/contexts/AuthContext/AuthContext.tsx
  frontend/src/pages/auth.tsx
  frontend/src/pages/user/_auth._appshell.settings.profile.tsx
  frontend/src/services/auth.ts
  frontend/src/services/company.ts
  frontend/src/services/index.ts
  frontend/src/services/project.ts
  frontend/src/services/user.ts
  frontend/src/services/verification.ts
  frontend/src/types/auth.ts
  frontend/src/types/company.ts
  frontend/src/types/index.ts
Labels: bug, frontend

#372 Export updateCompany
  frontend/src/services/index.ts
Labels: bug, frontend

#357 Feat/347/project creation flow
  backend/.sqlc/migrations/20241215194302_initial_schema.sql
  backend/.sqlc/migrations/20241226195458_add_default_questions.sql
  backend/.sqlc/queries/projects.sql
  backend/.sqlc/queries/team_members.sql
  backend/db/batch.go
  backend/db/db.go
  backend/db/models.go
  backend/db/projects.sql.go
  backend/db/team_members.sql.go
  backend/internal/service/email.go
  backend/internal/v1/v1_projects/answers.go
  backend/internal/v1/v1_projects/documents.go
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/questions.go
  backend/internal/v1/v1_projects/routes.go
  backend/internal/v1/v1_projects/types.go
  backend/internal/v1/v1_projects/validation.go
  backend/internal/v1/v1_teams/members.go
  backend/internal/v1/v1_teams/types.go
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/AnchorLinks/AnchorLinks.tsx
  frontend/src/components/FileUpload/FileUpload.tsx
  frontend/src/components/FileUpload/index.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/components/TeamMembers/TeamMembers.tsx
  frontend/src/components/index.ts
  frontend/src/config/forms/project.ts
  frontend/src/hooks/useProjectForm.ts
  frontend/src/pages/auth.tsx
  frontend/src/pages/user/_auth._appshell.dashboard.tsx
  frontend/src/pages/user/_auth/project/new.tsx
  frontend/src/services/project.ts
  frontend/src/services/teams.ts
  frontend/src/templates/SectionedTemplate/SectionedTemplate.tsx
  frontend/src/types/form.ts
  frontend/src/utils/form-validation.test.ts
  frontend/src/utils/form-validation.ts
  frontend/src/utils/sampleData.ts
Labels: enhancement, frontend, backend, api

#374 [FE Feat] Add notification system to app
  frontend/src/contexts/NotificationContext/NotificationComponent.tsx
  frontend/src/contexts/NotificationContext/NotificationContext.tsx
  frontend/src/contexts/NotificationContext/index.tsx
  frontend/src/contexts/NotificationContext/types.ts
  frontend/src/contexts/index.tsx
  frontend/src/main.tsx
Labels: enhancement, frontend

#380 [FE] Fix Auth Loading State to Prevent Early Route Checks
  frontend/src/contexts/AuthContext/AuthContext.tsx
  frontend/src/main.tsx
  frontend/src/pages/admin/_auth.tsx
Labels: bug, frontend

#381 Fix user profile details persistence and settings sidebar layout
  backend/.sqlc/queries/users.sql
  backend/db/batch.go
  backend/db/companies.sql.go
  backend/db/company.sql.go
  backend/db/db.go
  backend/db/email_tokens.sql.go
  backend/db/models.go
  backend/db/projects.sql.go
  backend/db/team_members.sql.go
  backend/db/transactions.sql.go
  backend/db/users.sql.go
  backend/db/version.sql.go
  backend/internal/v1/v1_users/routes.go
  backend/internal/v1/v1_users/types.go
  backend/internal/v1/v1_users/users.go
  frontend/src/pages/user/_auth/_appshell.tsx
  frontend/src/pages/user/_auth/_appshell/settings.company.tsx
  frontend/src/pages/user/_auth/_appshell/settings.profile.tsx
  frontend/src/pages/user/_auth/_appshell/settings.tsx
  frontend/src/services/user.ts
Labels: bug, frontend, backend

#396 Comment Bubble Component
  backend/.sqlc/queries/projects.sql
  backend/db/projects.sql.go
  backend/internal/v1/v1_projects/comments.go
  backend/internal/v1/v1_projects/types.go
  frontend/src/components/CommentBubble/CommentBubble.tsx
  frontend/src/components/CommentBubble/index.tsx
  frontend/src/components/index.ts
  frontend/src/services/comment.ts
Labels: enhancement, frontend, backend, api

#393 User dashboard page
  backend/.sqlc/queries/projects.sql
  backend/db/projects.sql.go
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/routes.go
  backend/internal/v1/v1_projects/types.go
  frontend/src/components/Badge/Badge.test.tsx
  frontend/src/components/Badge/Badge.tsx
  frontend/src/components/Badge/index.tsx
  frontend/src/components/Button/Button.tsx
  frontend/src/components/Card/Card.test.tsx
  frontend/src/components/Card/Card.tsx
  frontend/src/components/Card/index.tsx
  frontend/src/components/ProjectCard/ProjectCard.test.tsx
  frontend/src/components/ProjectCard/ProjectCard.tsx
  frontend/src/components/ProjectCard/index.tsx
  frontend/src/components/index.ts
  frontend/src/pages/user/_auth/_appshell.tsx
  frontend/src/pages/user/_auth/_appshell/dashboard.tsx
  frontend/src/services/project.ts
  frontend/src/templates/DashboardTemplate/DashboardTemplate.tsx
  frontend/src/utils/date.ts
Labels: enhancement, frontend, backend

#394 Correct project form inputs
  frontend/package.json
  frontend/src/components/FileUpload/FileUpload.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/config/forms/project.ts
  frontend/src/pages/user/_auth/project/new.tsx
  frontend/src/types/form.ts
  frontend/src/utils/sampleData.ts
Labels: bug, frontend

#395 Handle resume & founders agreement file upload in TeamMembers.tsx
  backend/.sqlc/queries/team_members.sql
  backend/db/team_members.sql.go
  backend/internal/middleware/jwt.go
  backend/internal/v1/v1_projects/documents.go
  backend/internal/v1/v1_teams/documents.go
  backend/internal/v1/v1_teams/routes.go
  backend/internal/v1/v1_teams/types.go
  frontend/src/components/FileUpload/FileUpload.tsx
  frontend/src/components/TeamMembers/TeamMembers.tsx
  frontend/src/services/teams.ts
Labels: bug, frontend, backend, api

#397 Comment Creation Component
  frontend/src/components/CommentCreate/CommentCreate.tsx
  frontend/src/components/CommentCreate/index.tsx
  frontend/src/services/comment.ts
Labels: enhancement, frontend, api

#398 Add FileDownload component
  frontend/src/components/FileDownload/FileDownload.tsx
  frontend/src/components/FileDownload/index.tsx
  frontend/src/components/index.ts
Labels: enhancement, frontend

#399 Add Project Overview Page and Fix Auth Flow (again)
  frontend/src/main.tsx
  frontend/src/pages/admin/_auth._appshell.dashboard.tsx
  frontend/src/pages/admin/_auth.tsx
  frontend/src/pages/admin/_auth/_appshell.tsx
  frontend/src/pages/admin/_auth/_appshell/dashboard.tsx
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.overview.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/services/projects.ts
  frontend/src/services/teams.ts
  frontend/src/types/form.ts
Labels: enhancement, frontend

#400 [FE Fix] Add disabled prop to TeamMembers component
  frontend/src/components/TeamMembers/TeamMembers.tsx
Labels: bug, frontend

#402 fix auth redirect problems in staging
  frontend/src/pages/auth.tsx
  frontend/src/pages/user/_auth.tsx
Labels: enhancement, frontend

#403 fix verification email recipient email
  backend/internal/service/email.go
Labels: bug, backend

#404 add FRONTEND_URL to staging deployment .env
  .github/workflows/deploy-staging-backend.yml
Labels: pipeline

#405 remove hard coded project id
  frontend/src/pages/user/_auth/project/new.tsx
Labels: bug, frontend

#407 Add admin settings page w/ permissions management
  backend/.sqlc/queries/users.sql
  backend/db/users.sql.go
  backend/internal/permissions/permissions.go
  backend/internal/v1/v1_users/routes.go
  backend/internal/v1/v1_users/types.go
  backend/internal/v1/v1_users/users.go
  frontend/src/pages/admin/_auth/_appshell/settings/permissions.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/services/users.ts
Labels: enhancement, frontend, backend

#408 Grab company info for project form + disable inputs
  backend/internal/v1/v1_projects/questions.go
  frontend/src/components/DateInput/DateInput.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/config/forms/project.ts
  frontend/src/pages/user/_auth/project/new.tsx
  frontend/src/types/form.ts
Labels: bug, frontend, backend

#412 [FE Bug] Fix form fields clearing on file upload in project creation
  frontend/src/pages/user/_auth/project/new.tsx
Labels: bug, frontend

#414 Resume project submission
  frontend/src/components/ProjectCard/ProjectCard.tsx
  frontend/src/pages/user/_auth/project/$projectId.form.tsx
  frontend/src/pages/user/_auth/project/new.tsx
  frontend/src/routeTree.gen.ts
Labels: enhancement, frontend

#413 [FE Feat] Add project decision page for admin review flow
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.decision.tsx
  frontend/src/pages/admin/_auth/_appshell/resources/index.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/services/projects.ts
Labels: enhancement, frontend, backend, api

#416 Investor project review page
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/routes.go
  backend/internal/v1/v1_projects/types.go
  frontend/src/components/CommentBubble/CommentBubble.tsx
  frontend/src/components/ReviewQuestions/ReviewQuestions.tsx
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.decision.tsx
  frontend/src/pages/admin/_auth/projects/$projectId.review.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/services/projects.ts
Labels: enhancement, frontend

#417 update dev deployment workflow with FRONTEND_URL
  .github/workflows/deploy-dev-backend.yml
Labels: pipeline, backend

#419 Add user facing view submitted project page
  frontend/src/components/ProjectCard/ProjectCard.tsx
  frontend/src/components/ReviewQuestions/ReviewQuestions.tsx
  frontend/src/pages/user/_auth/project/$projectId.view.tsx
  frontend/src/routeTree.gen.ts
Labels: enhancement, frontend

#422 Update project question schema + add company industries question
  backend/.sqlc/migrations/20250204232938_add_human_readable_question_key_to_project_questions.sql
  backend/.sqlc/migrations/20250204233701_update_questions_with_human_readable_keys.sql
  backend/.sqlc/migrations/20250204234211_add_company_industry_question.sql
  backend/db/models.go
  backend/db/projects.sql.go
  backend/internal/service/email.go
Labels: backend, db

#427 [FE Feat] Add SPURCOIN investment button and modal
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.overview.tsx
Labels: enhancement, frontend

#425 Ensure navigation bar in project form pages are sticky
  frontend/src/pages/admin/_auth/projects/$projectId.review.tsx
  frontend/src/pages/user/_auth/project/$projectId.form.tsx
  frontend/src/pages/user/_auth/project/$projectId.view.tsx
Labels: enhancement, frontend

#421 Investor project dashboard
  frontend/src/components/tables/ProjectsTable.tsx
  frontend/src/pages/admin/_auth/_appshell/dashboard.tsx
Labels: enhancement, frontend, api

#430 fix ts error of unused var in admin/dashboard
  frontend/src/pages/admin/_auth/_appshell/dashboard.tsx
Labels: bug, frontend

#434 Add settings links to user/admin dashboard
  frontend/src/pages/admin/_auth/_appshell.tsx
  frontend/src/pages/user/_auth/_appshell.tsx
Labels: bug, enhancement, frontend

#436 Fix user wallet connect and admin funding bugs
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.overview.tsx
  frontend/src/pages/user/_auth/_appshell/settings.wallet.tsx
  frontend/src/services/company.ts
  frontend/src/types/company.ts
Labels: bug, frontend, backend

#438 Remove mock document in ReviewQuestions component
  frontend/src/components/ReviewQuestions/ReviewQuestions.tsx
Labels: bug, frontend

#440 fetch project company (admin only)
  backend/.sqlc/queries/companies.sql
  backend/db/companies.sql.go
  backend/internal/v1/v1_companies/companies.go
  backend/internal/v1/v1_companies/routes.go
  frontend/src/pages/admin/_auth/_appshell/projects/$projectId.overview.tsx
  frontend/src/services/company.ts
Labels: bug, frontend, backend, api

#441 remove unused import in ReviewQuestions component
  frontend/src/components/ReviewQuestions/ReviewQuestions.tsx
Labels: bug, frontend

#442 add endpoint to list all projects as admin
  backend/.sqlc/queries/projects.sql
  backend/db/projects.sql.go
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/routes.go
  frontend/src/pages/admin/_auth/_appshell/dashboard.tsx
  frontend/src/services/project.ts
Labels: bug, frontend, backend, api

#444 Bypass doc ownership check for admins
  backend/internal/v1/v1_projects/documents.go
Labels: bug, backend

#446 add new get project qa as admin query
  backend/.sqlc/queries/projects.sql
  backend/db/projects.sql.go
  backend/internal/v1/v1_projects/questions.go
Labels: bug, backend, api

#447 handle the case to add company info when fetching project qa as admin
  backend/internal/v1/v1_projects/questions.go
Labels: bug, backend, api

#449 update set project status endpoint to be admin only
  backend/internal/v1/v1_projects/projects.go
  backend/internal/v1/v1_projects/routes.go
Labels: bug, backend, api

#451 Project submission modal
  frontend/src/components/ConfirmationModal/ConfirmationModal.tsx
  frontend/src/components/ConfirmationModal/index.tsx
  frontend/src/pages/user/_auth/project/$projectId.form.tsx
Labels: enhancement, frontend

#454 update title
  frontend/src/components/UserDetailsForm/UserDetailsForm.tsx
Labels: frontend

#460 Add logout button & dropdown
  frontend/src/pages/user/_auth/_appshell.tsx
Labels: enhancement, frontend

#488 Change draft project button text to "Edit Draft Project"
  frontend/src/components/ProjectCard/ProjectCard.tsx
Labels: enhancement, frontend

#456 Fixed existing frontend tests
  frontend/src/components/AnchorLinks/AnchorLinks.test.tsx
  frontend/src/components/Badge/Badge.test.tsx
  frontend/src/components/Card/Card.test.tsx
  frontend/src/components/ProjectCard/ProjectCard.test.tsx
  frontend/src/utils/form-validation.test.ts
  frontend/tsconfig.app.json
Labels: bug, frontend

#487 Update sidebar title to show current section name
  frontend/src/pages/user/_auth/project/$projectId.form.tsx
Labels: enhancement, frontend

#489 Fixed mismatched backend and frontend permissions
  backend/internal/permissions/permissions.go
  frontend/src/utils/permissions.ts
Labels: bug, frontend, backend

#512 Form Validation Errors
  frontend/src/components/AutoSaveIndicator/AutosaveIndicator.tsx
  frontend/src/components/AutoSaveIndicator/index.tsx
  frontend/src/components/ProjectError/ProjectError.tsx
  frontend/src/components/ProjectError/index.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/components/RecommendedFields/RecommendedFields.tsx
  frontend/src/components/RecommendedFields/index.tsx
  frontend/src/components/TeamMembers/TeamMembers.tsx
  frontend/src/pages/user/_auth/project/$projectId.form.tsx
Labels: enhancement, frontend

#510 Remove company profile from settings page
  frontend/src/constants/settings.tsx
  frontend/src/pages/user/_auth/_appshell/settings.company.tsx
  frontend/src/routeTree.gen.ts
Labels: frontend

#490 Add project withdrawal functionality
  frontend/src/components/ProjectCard/ProjectCard.tsx
  frontend/src/components/WithdrawProjectModal/WithdrawProjectModal.tsx
Labels: enhancement, frontend

#527 Add a simple default 404 page
  frontend/src/components/NotFound/NotFound.test.tsx
  frontend/src/components/NotFound/NotFound.tsx
  frontend/src/components/index.ts
  frontend/src/main.tsx
Labels: enhancement, frontend

#511 Add profile pictures
  backend/.sqlc/migrations/20250215234213_add_profile_picture_url.sql
  backend/.sqlc/queries/users.sql
  backend/db/models.go
  backend/db/users.sql.go
  backend/internal/v1/v1_auth/auth.go
  backend/internal/v1/v1_auth/types.go
  backend/internal/v1/v1_users/routes.go
  backend/internal/v1/v1_users/types.go
  backend/internal/v1/v1_users/users.go
  frontend/src/components/ProfilePicture/ProfilePicture.tsx
  frontend/src/components/ProfilePictureUpload/ProfilePictureUpload.tsx
  frontend/src/pages/user/_auth/_appshell.tsx
  frontend/src/pages/user/_auth/_appshell/settings.profile.tsx
  frontend/src/types/auth.ts
Labels: enhancement, frontend, backend

#542 make forms collapsible
  frontend/src/components/AutoSaveIndicator/index.tsx
  frontend/src/components/CollapsibleSection/CollapsibleSection.test.tsx
  frontend/src/components/CollapsibleSection/CollapsibleSection.tsx
  frontend/src/components/CollapsibleSection/index.tsx
  frontend/src/pages/admin/_auth/projects/$projectId.review.tsx
  frontend/src/pages/user/_auth/project/$projectId.form.tsx
  frontend/src/pages/user/_auth/project/$projectId.view.tsx
Labels: enhancement, frontend

#509 Add CTRL+S keyboard shortcut for manual project form saving
  frontend/src/hooks/useKeyboardShortcut.ts
  frontend/src/pages/user/_auth/project/$projectId.form.tsx
Labels: enhancement, frontend

#565 update profile dropdown
  frontend/src/pages/user/_auth/_appshell.tsx
Labels: enhancement, frontend

#564 make project form tabs sticky + update styling
  frontend/src/components/AutoSaveIndicator/AutosaveIndicator.test.tsx
  frontend/src/components/AutoSaveIndicator/AutosaveIndicator.tsx
  frontend/src/pages/user/_auth/project/$projectId.form.tsx
  frontend/src/templates/SectionedTemplate/SectionedTemplate.tsx
  frontend/tailwind.config.js
Labels: enhancement, frontend

#560 Replace LinkedIn with socials in registration flow
  .gitignore
  backend/.sqlc/migrations/20250218154917_add_func_updated_at.sql
  backend/.sqlc/migrations/20250218154918_add_user_socials_table.sql
  backend/.sqlc/queries/users.sql
  backend/db/models.go
  backend/db/users.sql.go
  backend/internal/middleware/request_validator.go
  backend/internal/v1/v1_users/types.go
  backend/internal/v1/v1_users/users.go
  frontend/src/assets/bluesky_logo.svg
  frontend/src/assets/discord_logo.svg
  frontend/src/assets/facebook_logo.svg
  frontend/src/assets/index.ts
  frontend/src/assets/instagram_logo.svg
  frontend/src/assets/linkedin_logo.svg
  frontend/src/assets/x_logo.svg
  frontend/src/components/ConfirmationModal/ConfirmationModal.tsx
  frontend/src/components/SocialCard/SocialCard.test.tsx
  frontend/src/components/SocialCard/SocialCard.tsx
  frontend/src/components/SocialCard/index.tsx
  frontend/src/components/SocialIconButton/SocialIconButton.test.tsx
  frontend/src/components/SocialIconButton/SocialIconButton.tsx
  frontend/src/components/SocialIconButton/index.tsx
  frontend/src/components/SocialLinks/SocialLinks.test.tsx
  frontend/src/components/SocialLinks/SocialLinks.tsx
  frontend/src/components/SocialLinks/helpers.ts
  frontend/src/components/TextInput/TextInput.styles.ts
  frontend/src/components/TextInput/TextInput.test.tsx
  frontend/src/components/TextInput/TextInput.tsx
  frontend/src/components/UserDetailsForm/UserDetailsForm.tsx
  frontend/src/components/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/tests/useRandomId.test.ts
  frontend/src/hooks/useRandomId.ts
  frontend/src/pages/auth.tsx
  frontend/src/types/auth.ts
  frontend/src/types/form.ts
  frontend/src/types/user.ts
  frontend/src/utils/form-validation.test.ts
  frontend/src/utils/form-validation.ts
  frontend/src/utils/random.test.ts
  frontend/src/utils/random.ts
Labels: enhancement, frontend, backend, api, db

#561 Redirects/aliases for /auth + logout route
  backend/internal/v1/v1_auth/auth.go
  frontend/src/components/NotFound/NotFound.test.tsx
  frontend/src/components/ProjectCard/ProjectCard.test.tsx
  frontend/src/constants/settings.tsx
  frontend/src/contexts/AuthContext/AuthContext.tsx
  frontend/src/pages/auth.tsx
  frontend/src/pages/login.tsx
  frontend/src/pages/logout.tsx
  frontend/src/pages/register.tsx
  frontend/src/pages/signin.tsx
  frontend/src/pages/signout.tsx
  frontend/src/pages/signup.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/test/setup.ts
Labels: enhancement, frontend

#562 Remove company details creation step in registration flow
  backend/.sqlc/migrations/20250220181105_add_group_type_to_companies_table.sql
  backend/.sqlc/migrations/20250220193244_create_companies_for_existing_users.sql
  backend/.sqlc/migrations/20250220214720_add_cascade_to_companies_owner_id.sql
  backend/internal/v1/v1_auth/auth.go
  frontend/src/components/CompanyForm/CompanyForm.tsx
  frontend/src/components/CompanyForm/index.tsx
  frontend/src/components/ProgressSteps/ProgressSteps.tsx
  frontend/src/components/ProgressSteps/index.tsx
  frontend/src/components/UserDetailsForm/UserDetailsForm.tsx
  frontend/src/components/index.ts
  frontend/src/pages/auth.tsx
  frontend/src/types/auth.ts
Labels: enhancement, frontend, backend

#563 Refactor/Move project form questions based on the new requirements
  backend/.sqlc/migrations/20250220231642_move_project_form_questions.sql
  backend/.sqlc/migrations/20250221160356_enable_company_name_question.sql
  backend/.sqlc/migrations/20250221161901_add_label_to_team_members_question.sql
  backend/.sqlc/migrations/20250221162738_add_input_type_props_to_project_questions.sql
  backend/.sqlc/migrations/20250221170211_add_featured_images_project_question.sql
  backend/.sqlc/migrations/20250221200521_enable_company_date_founded_question.sql
  backend/.sqlc/queries/projects.sql
  backend/Makefile
  backend/db/models.go
  backend/db/projects.sql.go
  backend/internal/v1/v1_projects/questions.go
  frontend/src/components/FileUpload/FileUpload.tsx
  frontend/src/components/QuestionInputs/QuestionInputs.tsx
  frontend/src/config/forms/project.ts
  frontend/src/constants/env.ts
  frontend/src/pages/user/_auth/project/$projectId.form.tsx
  frontend/src/services/project.ts
  frontend/src/types/form.ts
  frontend/src/vite-env.d.ts
Labels: enhancement, frontend, backend, api

#567 Setup AWS Deployments
  .github/workflows/deploy-aws-preview-backend.yml
  .github/workflows/deploy-aws-preview-frontend.yml
  aws/README.md
  aws/launchscript.sh
  backend/main.go
  frontend/src/pages/admin/_auth/projects/$projectId.review.tsx
  frontend/src/pages/user/_auth/project/$projectId.form.tsx
  frontend/src/pages/user/_auth/project/$projectId.view.tsx
Labels: pipeline, frontend, backend

#568 Add builds and deployment badges to readme
  README.md
Labels: docs, misc

#574 implement new design + make responsive - user dashboard + settings
  frontend/src/assets/index.ts
  frontend/src/assets/logo.svg
  frontend/src/components/AutoSaveIndicator/AutosaveIndicator.test.tsx
  frontend/src/components/AutoSaveIndicator/AutosaveIndicator.tsx
  frontend/src/components/AutoSaveIndicator/index.tsx
  frontend/src/components/Button/Button.tsx
  frontend/src/components/CollapsibleSection/CollapsibleSection.tsx
  frontend/src/components/ProjectCard/ProjectCard.test.tsx
  frontend/src/components/ProjectCard/ProjectCard.tsx
  frontend/src/components/TextInput/TextInput.styles.ts
  frontend/src/components/TextInput/TextInput.tsx
  frontend/src/components/UserDropdown/UserDropdown.test.tsx
  frontend/src/components/UserDropdown/UserDropdown.tsx
  frontend/src/components/UserDropdown/index.tsx
  frontend/src/components/wallet/WalletConnectButton.tsx
  frontend/src/constants/settings.tsx
  frontend/src/pages/user/_auth/_appshell.tsx
  frontend/src/pages/user/_auth/_appshell/dashboard.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/form.tsx
  frontend/src/pages/user/_auth/_appshell/project/$projectId/view.tsx
  frontend/src/pages/user/_auth/_appshell/project/new.tsx
  frontend/src/pages/user/_auth/_appshell/projects.tsx
  frontend/src/pages/user/_auth/_appshell/settings.tsx
  frontend/src/pages/user/_auth/_appshell/settings.wallet.tsx
  frontend/src/pages/user/_auth/_appshell/settings/index.tsx
  frontend/src/pages/user/_auth/_appshell/settings/profile.tsx
  frontend/src/pages/user/_auth/_appshell/settings/wallet.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/templates/DashboardTemplate/DashboardTemplate.tsx
  frontend/src/templates/SettingsPage/SettingsPage.tsx
  frontend/tailwind.config.js
Labels: enhancement, frontend
